.cuerpo
	background #f5EE31
	border 5px solid #000
	height 400px
	margin 50px auto
	overflow hidden
	position relative
	width 300px

.ojos
	left 40px
	position absolute
	top 40px
	width 210px
	z-index 10

.ojo
	background #fff
	border 5px solid #000
	border-radius 50%
	display inline-block
	height 100px
	margin-right -17px
	position relative
	width 100px

.ojo_externo
	background #00AEEF
	border 3px solid #000
	border-radius 50%
	height 50px
	left 25px
	position absolute
	top 20px
	width 50px

.ojo_interno
	background #000
	border-radius 50%
	height 30px
	left 10px
	position relative
	top 10px
	width 30px

.pestanas
	bottom 24px
	left 12px
	position relative

.pestana
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	background #000
	display inline-block
	height 5px
	margin-right 10px
	transform: rotate(90deg);
	width 15px

.pestana.primera
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	position relative
	top 10px
	transform: rotate(45deg);

.pestana.tercera
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	position relative
	top 10px
	transform: rotate(-45deg);

.nariz
	background #f5EE31
	border 5px solid #000
	border-bottom 5px solid transparent
	border-radius 42.5%
	height 40px
	left 130px
	position absolute
	top 110px
	width 20px
	z-index 10

.boca
	background transparent
	border-bottom 5px solid #000
	border-radius 50%
	height 80px
	left 50px
	position absolute
	top 120px
	width 200px
	z-index 10px

.dientes
	left 65px
	position relative
	top 80px

.diente
	background #fff
	border 5px solid #000
	display inline-block
	height 20px
	width 20px

.mejilla
	background transparent
	border 3px solid #f1592A
	border-bottom 3px solid transparent
	border-radius 50% 50% 20% 20%
	height 20px
	position absolute
	top 30px
	width 30px

.mejilla.primera
	left -15px

.mejilla.segunda
	left 175px

.camisa
	background #fff
	border-top 5px solid #000
	bottom 50px
	height 50px
	overflow hidden
	position absolute
	width 100%
	z-index 10

.cuello
	-moz-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-o-transform: rotate(30deg);
	-webkit-transform: rotate(30deg);
	background #fff
	border 5px solid #000
	height 30px
	position absolute
	top -25px
	transform: rotate(30deg);
	width 50px

.cuello.primero
	left 60px

.cuello.segundo
	-moz-transform: rotate(-30deg);
	-ms-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	left 180px
	transform: rotate(-30deg);
	
.cuello_corbata
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	background #f00200
	border 5px solid #000
	bottom 30px
	height 40px
	left 130px
	position absolute
	transform: rotate(45deg);
	width 40px
	z-index 50

.cola_corbata
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	background #f00200
	border 5px solid #000
	bottom 0px
	height 55px
	left 123px	
	position absolute
	transform: rotate(45deg);
	width 55px
	z-index 50


.pantalones
	width 100%
	height 50px
	background #6a3d13
	position absolute
	bottom 0%
	border-top 5px solid #000
	z-index 10


.cinturon
	width 40px
	height 15px
	position absolute
	top 20px
	background #000

.cinturon.primero
	left 20px

.cinturon.segundo
	left 90px
	
.cinturon.tercero
	right 80px
	
.cinturon.cuarto
	right 20px

.poro
	background #c0a402
	height 40px
	width 40px
	position absolute
	border-radius 50%
	z-index 1

.poro.primero
	top 230px
	left 20px
	height 50px
	width 50px

.poro.segundo
	top 200px
	left 280px

.poro.tercero
	top 50px
	left 260px
	height 15px
	width 15px

.poro.cuarto
	top 300px
	left 50px
	height 30px
	width 30px
