@charset "UTF-8";
/* Captain America Shield CSS Document - Made by Codelator.com, All rights reserved. */
body{background: rgb(130,140,149);
background: -moz-radial-gradient(center, ellipse cover,  rgba(130,140,149,1) 0%, rgba(167,167,183,1) 48%, rgba(40,52,59,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(130,140,149,1)), color-stop(48%,rgba(167,167,183,1)), color-stop(100%,rgba(40,52,59,1)));
background: -webkit-radial-gradient(center, ellipse cover,  rgba(130,140,149,1) 0%,rgba(167,167,183,1) 48%,rgba(40,52,59,1) 100%);
background: -o-radial-gradient(center, ellipse cover,  rgba(130,140,149,1) 0%,rgba(167,167,183,1) 48%,rgba(40,52,59,1) 100%);
background: -ms-radial-gradient(center, ellipse cover,  rgba(130,140,149,1) 0%,rgba(167,167,183,1) 48%,rgba(40,52,59,1) 100%);
background: radial-gradient(ellipse at center,  rgba(130,140,149,1) 0%,rgba(167,167,183,1) 48%,rgba(40,52,59,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828c95', endColorstr='#28343b',GradientType=1 );
}
/*Outer Red Circle Starts*/
#outerred{
	width:400px;
	height:400px;
	border-radius:200px;
	-webkit-border-radius:200px; /*Chrome, Safari*/
	-moz-border-radius:200px; /*Firefox*/
	border: 1px solid #444;
	margin:50px auto;
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #A80027),
	color-stop(0.91, #540215)
);
background-image: -o-linear-gradient(bottom, #A80027 0%, #540215 91%);
background-image: -moz-linear-gradient(bottom, #A80027 0%, #540215 91%);
background-image: -webkit-linear-gradient(bottom, #A80027 0%, #540215 91%);
background-image: -ms-linear-gradient(bottom, #A80027 0%, #540215 91%);
background-image: linear-gradient(to bottom, #A80027 0%, #540215 91%);
	box-shadow: 0px 0px 250px 40px #444;
}
/*Outer Red Circle Ends*/

/*White Circle Starts*/
#white{
	position:relative;
	width:325px;
	height:325px;
	border-radius:162.5px;
	-webkit-border-radius:162.5px; /*Chrome, Safari*/
	-moz-border-radius:162.5px; /*Firefox*/
	top:37.5px;
	left:37.5px;
	background:rgb(245,246,246);
	background:-moz-linear-gradient(45deg,rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%);
	background:-webkit-gradient(linear,left bottom,right top,color-stop(0%,rgba(245,246,246,1)),color-stop(21%,rgba(219,220,226,1)),color-stop(49%,rgba(184,186,198,1)),color-stop(80%,rgba(221,223,227,1)),color-stop(100%,rgba(245,246,246,1)));
	background:-webkit-linear-gradient(45deg,rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%);
	background:-o-linear-gradient(45deg,rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%);
	background:-ms-linear-gradient(45deg,rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%);
	background:linear-gradient(45deg,rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(184,186,198,1) 49%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f6f6',endColorstr='#f5f6f6',GradientType=1);
	box-shadow: 0px 0px 1px 2px #444;
}
/*White Circle Ends*/

/*Inner Red Circle Starts*/
#innerred{
	position:relative;
	width:250px;
	height:250px;
	border-radius:125px;
	-webkit-border-radius:125px; /*Chrome, Safari*/
	-moz-border-radius:125px; /*Firefox*/
	top:37.5px;
	left:37.5px;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #A80027),
	color-stop(0.91, #540215)
);
background-image: -o-linear-gradient(bottom, #A80027 0%, #540215 91%);
background-image: -moz-linear-gradient(bottom, #A80027 0%, #540215 91%);
background-image: -webkit-linear-gradient(bottom, #A80027 0%, #540215 91%);
background-image: -ms-linear-gradient(bottom, #A80027 0%, #540215 91%);
background-image: linear-gradient(to bottom, #A80027 0%, #540215 91%);
	box-shadow:0px 0px 1px 2px #444;
}
/*Inner Red Circle Ends*/

/*Middle Blue Circle Starts*/
#blue{
	position:relative;
	width:175px;
	height:175px;
	border-radius:87.5px;
	-webkit-border-radius:87.5px; /*Chrome, Safari*/
	-moz-border-radius:87.5px; /*Firefox*/
	top:37.5px;
	left:37.5px;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #2361AD),
	color-stop(0.91, #0F335E)
);
background-image: -o-linear-gradient(bottom, #2361AD 0%, #0F335E 91%);
background-image: -moz-linear-gradient(bottom, #2361AD 0%, #0F335E 91%);
background-image: -webkit-linear-gradient(bottom, #2361AD 0%, #0F335E 91%);
background-image: -ms-linear-gradient(bottom, #2361AD 0%, #0F335E 91%);
background-image: linear-gradient(to bottom, #2361AD 0%, #0F335E 91%);
	box-shadow: 0px 0px 1px 1px #333;
}
/*Middle Blue Circle Ends*/

/*Star Starts*/
#star{
	margin:60px 15px;
	position:absolute;
	display:block;
	color:#fff;
	width:0px;
	height:0px;
	border-right:75px solid transparent;
	border-bottom:52.5px  solid #CACACA;
	border-left:75px solid transparent;
   -moz-transform: rotate(35deg);
   -webkit-transform:rotate(35deg);
   -ms-transform:rotate(35deg);
   -o-transform:rotate(35deg);
}
#star:before{
	border-bottom:60px solid #CACACA;
	border-left:22.5px solid transparent;
	border-right:22.5px solid transparent;
	position:relative;
	height:0;
	width:0;
	top:-40px;
	left:-50px;
	display:block;
	content:'';
	-webkit-transform:rotate(-35deg);
	-moz-transform:rotate(-35deg);
	-ms-transform:rotate(-35deg);
	-o-transform:rotate(-35deg);
}
#star:after{
	position:absolute;
	display:block;
	
	top:2px;
	left:-78px;
	width:0px;
	height:0px;
	border-right:75px solid transparent;
	border-bottom:52.5px solid #CACACA;
	border-left:75px solid transparent;
	-webkit-transform:rotate(-70deg);
	-moz-transform:rotate(-70deg);
	-ms-transform:rotate(-70deg);
	-o-transform:rotate(-70deg);
   content:'';
}
/*Star Ends*/
h1{
	text-align:center;
	font-family:Gotham,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:36px;
	margin-top:35px;
	color:#E4E4E4
}
h6{
	text-align:center;
	font-family:Gotham,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:12px
}
h4{
	text-align:center;
	font-family:Gotham,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:18px
}


